<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>TicketFlow</mat-card-title>
      <mat-card-subtitle>Create New Password</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div *ngIf="!token" class="error-alert">
        Missing security token. Please click the exact link sent to your email.
      </div>

      <form *ngIf="token" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>New Password</mat-label>
          <input
            matInput
            formControlName="password"
            [type]="hidePassword ? 'password' : 'text'"
          />
          <mat-icon matPrefix>lock</mat-icon>
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error *ngIf="resetForm.get('password')?.hasError('required')"
            >Password is required</mat-error
          >
          <mat-error *ngIf="resetForm.get('password')?.hasError('minlength')"
            >Must be at least 6 characters</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Confirm Password</mat-label>
          <input matInput formControlName="confirmPassword" type="password" />
          <mat-icon matPrefix>lock_outline</mat-icon>
          <mat-error
            *ngIf="resetForm.get('confirmPassword')?.hasError('required')"
            >Please confirm your password</mat-error
          >
          <mat-error
            *ngIf="
              resetForm.hasError('passwordMismatch') &&
              resetForm.get('confirmPassword')?.touched
            "
          >
            Passwords do not match
          </mat-error>
        </mat-form-field>

        <div *ngIf="errorMessage" class="error-alert">{{ errorMessage }}</div>

        <div class="actions">
          <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="resetForm.invalid || isLoading"
            class="full-width"
          >
            {{ isLoading ? "Saving..." : "Save New Password" }}
          </button>
        </div>
      </form>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions class="register-prompt">
      <button mat-button color="primary" routerLink="/login">
        Back to Login
      </button>
    </mat-card-actions>
  </mat-card>
</div>
