<div class="register-container">
  <mat-card class="register-card">
    <mat-card-header>
      <mat-card-title>Create Account</mat-card-title>
      <mat-card-subtitle>Join TicketFlow to get support</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Full Name</mat-label>
          <input matInput formControlName="name" placeholder="John Doe" />
          <mat-icon matPrefix>person</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>E-mail</mat-label>
          <input
            matInput
            formControlName="email"
            type="email"
            placeholder="example@ticketflow.com"
          />
          <mat-icon matPrefix>email</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            formControlName="password"
            [type]="hidePassword ? 'password' : 'text'"
          />
          <mat-icon matPrefix>lock</mat-icon>
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </mat-form-field>

        <div class="actions">
          <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="registerForm.invalid || isLoading"
            class="full-width"
          >
            <mat-spinner
              *ngIf="isLoading"
              diameter="20"
              class="btn-spinner"
            ></mat-spinner>
            <span *ngIf="!isLoading">Sign Up</span>
          </button>
        </div>
      </form>
    </mat-card-content>

    <mat-card-actions class="login-prompt">
      <span>Already have an account?</span>
      <button mat-button color="primary" routerLink="/login">
        Log in here
      </button>
    </mat-card-actions>
  </mat-card>
</div>
